<% layout('layouts/boilerplate') %>

<h1>Amend <%= campground.title %> (<%= campground.location %>)</h1>
<p><a class="btn btn-outline-primary mt-2" href="/campgrounds">Return to full list</a></p>

<hr>

<section>
	<div class="row">
		<div class="col-6">
			<form class="validated-form" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate>
				<div class="mb-3">
					<label class="form-label" for="title">Title</label>
					<input class="form-control" type="text" name="campground[title]" id="title" value="<%= campground.title %>" required>
					<div class="valid-feedback">All good</div>
				</div>
				<label class="form-label" for="price">Price per night</label>
				<div class="input-group mb-3">
					<span class="input-group-text">£</span>
					<input class="form-control" type="number" name="campground[price]" id="price" value="<%= campground.price %>" pattern="[0-9]+([\.,][0-9]+)?" placeholder="0.00" required>
					<div class="valid-feedback">All good</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="description">Description</label>
					<textarea class="form-control vh-4" name="campground[description]" id="description" required><%= campground.description %></textarea>
				</div>
				<div class="mb-3">
					<label class="form-label" for="location">Location</label>
					<input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>" required>
					<div class="valid-feedback">All good</div>
				</div>
				<label class="form-label" for="image">Current image</label>
				<div class="input-group mb-3">
					<img class="img-thumbnail w-50 p-3" src="<%= campground.image %>">
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control text-center" name="campground[image]" id="image" value="<%= campground.image %>">
				 	<button class="btn btn-outline-secondary" type="button" id="button-addon2">Update</button>
				</div>

				<input type="number" name="campground[memberPrice]" id="memberPrice" hidden> 

				<div class="mb-3">
					<button class="d-inline btn btn-success">Save changes</button>
					<a class="d-inline btn btn-outline-danger" href="/campgrounds">Cancel</a></p>
				</div>
			</form>
		</div>
	</div>
</section>

<script>
	const sample = array => array[Math.floor(Math.random() * array.length)];
	const discounts = [0.8, 0.75, 0.7, 0.65, 0.6];
	const price = document.querySelector('#price');
	const memberPrice = document.querySelector('#memberPrice');
	price.addEventListener('focusout', (e) => {
		memberPrice.value = (price.value * sample(discounts)).toFixed(2);
	})
</script>